<div class="sfondo">
  <div class="close-icon">
  <mat-icon style="color: white;">close</mat-icon>
</div>
<div class="container">
  <div class="container-card">
    <mat-card class="card">
      <div class="card-content">
      <mat-form-field>
      <input matInput placeholder="Nuova Lista">
     </mat-form-field>
     <mat-icon class="home"  (click)="back()"  aria-hidden="false" aria-label="Example home icon"  color="primary">home</mat-icon>
     <button class="btn-crea" (click)="addNewList()" mat-button color="primary">CREA</button>

    </div>
    </mat-card>
  </div>
</div>
</div>
