<mat-card class="card">
  <div class="header">
  <mat-card-header>
    <div mat-card-title class="header-title">
    <mat-card-title>Le mie Liste</mat-card-title>
    <mat-card-subtitle style="color:blue; margin-left: 35px;">email</mat-card-subtitle>
  </div>
  </mat-card-header>
</div>


  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

