<div class="nav">
  <div class="container">
  <p class="nav-title">Le Mie Liste</p>
  <p class="email">dan@dan.com</p>
</div>
</div>
<div class="plus">
  <mat-icon class="plus-btn" routerLink="/createList">add_circle</mat-icon>
</div>

<ng-container></ng-container>

<div class="footer">
    <p class="footer-title">&copy; 2022</p>
</div>

<!-- qui verranno visualizzate le liste create -->
<!-- se non ho ancora creato le liste visualizzerò solo il pulsante e un messaggio che ci invita a creare una lista -->


<!--
  <ng-container *ngIf="ui.loaded | async; else loading">

    <ng-template #loading>
  <div class="photos">
    <div *ngFor="let i of [1,2,3,4,5]" class="photo">
      <ui-ghost-rectangle width="150px" height="150px"></ui-ghost-rectangle>
    </div>
  </div>
</ng-template>
-->
